/* .styles{
    color: #FFFFFF;
    background-color: #666;
} */

.form {
    padding-left: 3em;
}

.h2 {
    font-size: 2em;
}

.campo {
    background-color: #444444;
    height: 2.5em;
    border-radius: 4px;
    width: 100%;
}

.register_link {
    color: #23CCD5;
    text-decoration: underline;
}

.register_link:hover {
    color: #00F1FF;
}

input:invalid {
    border: 2px red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, white, red);
  }
  