
.loginMain{
    position: relative;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 10%;
    width: 60%;
}

@media (max-width: 1250px) {
    .loginMain{
        margin-top: 16%;
        margin-left: 25%;
        margin-bottom: 20%;
    }    
  }
    
.inicioSesionHead {
    font-family: 'Cinzel', serif;
    padding-left: 35%;
    padding-bottom: 15%;
    font-size: 36px;
}
