@tailwind base;
@tailwind components;
@tailwind utilities;

.red-hat-display-category {
  font-family: "Red Hat Display", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-hat-display-subcategory {
  font-family: "Red Hat Display", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


/* div,
li,
a,
span {
  outline: solid;
  outline-color: white;
  outline-width: 1px;
}

li {
  outline-color:cornflowerblue;
  background-color: rgba(100, 148, 237, 0.308);
}

a {
  outline-color: rgba(255, 127, 80, 0.685);
}

span {
  outline-color: rgba(128, 255, 0, 0.521);
} */

@media (max-width: 810px) {
  .navbar-categories {
    display: none;
  }

}